body { 
    font-size: 14px; 
    line-height:28px;
}
a,a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }


body,ul,li,input{
    padding:0;
    margin:0;
    border:0;
    list-style:none;
}

.all{
    width:640px;
    margin:10px auto;
}

.manage{
    width:100%;
    /*padding:10px;*/
    /*background-color:#eee;*/
}

.manage input.new_task{
    width:100%;
    border:1px solid #333;
}



#div_tasks{
    width:100%;
    padding:1px 0;
    margin-top:5px;
}
#div_tasks > ul{
    _display: inline-block; overflow: hidden;
}

#div_tasks > ul > li{
    width:100%;
    height:28px;
    zoom: 1; 
    border-top: 1px dotted #ccc; 
    /*padding: 1px 0; */
    margin-top: -1px; 
}

#div_tasks > ul > li.new{
    background-color:#8BC34A;
}

#div_tasks > ul > li > div{
    float:left;
    border-right:1px solid #eee;
    /*border:2px solid #333;*/
}
#div_tasks > ul > li > div.task_name{
    overflow:hidden;
    width:260px;
    min-width:260px;
    height:28px;
}
#div_tasks > ul > li > div > input{
    display:none;
    width:100%;
    border:1px solid blue;
}

#div_tasks > ul > li > div > input[type=checkbox]{
    display:inline;
    position:relative;
    left:4px;
    top:4px;
    width:16px;
    height:16px;
    /*top:8px;*/
    /*display:none;*/
    /*width:100%;*/
    /*border:1px solid blue;*/
}






