body { 
    font-size: 16px; 
    line-height:24px;
}
a,a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }


body,ul,li,input{
    padding:0;
    margin:0;
    border:0;
    list-style:none;
}

#div_manage{
    width:640px;
    padding:10px;
    background-color:#eee;
}

#div_manage #new_task  input.new_task_input{
    width:618px;
    border:1px solid #333;
}

#div_manage #new_task  div.new_task_more_info{
    margin-top:2px;
    border:1px solid #333;
    color:#999;
    width:618px;
}


#div_tasks{
    width:640px;
    background-color:#eee;
    padding:1px 0;
    margin-top:5px;
}
#div_tasks > ul{
_display: inline-block; overflow: hidden;
    /*width:620px;*/
}

#div_tasks > ul > li{
    /*width:620px;*/
    height:30px;
    background-color:#ddd;
    zoom: 1; 
    border-top: 1px dotted #ccc; 
    padding: 5px 0; 
    margin-top: -1px; 
}

#div_tasks > ul > li.new{
    background-color:#8BC34A;
}

#div_tasks > ul > li > div{
    float:left;
}
#div_tasks > ul > li > div > input{
    font-size:16px;
    display:none;
    width:100%;
    border:1px solid blue;
}






